<?xml version="1.0" encoding="utf-16"?>
<MyNameValueCollection>
  <Header name="cbxFileLength" value="" />
  <Header name="txtFileName" value="" />
  <Header name="txtFileLength" value="2048" />
  <Header name="txtFileType" value="rar|doc|xls|docx|xlsx|pdf|zip|rtf|jpg|mp3|gif|rm|rmvb|png|bmp|flv|mp4|jio" />
  <Header name="txtFileSavePath" value="UploadFiles/$Year/$Month/${Day}" />
  <Header name="dropFileType" value="${Origin}" />
  <Header name="txtFileUrl" value="下载地址" />
</MyNameValueCollection>