<?xml version="1.0" encoding="utf-16"?>
<MyNameValueCollection>
  <Header name="cbxFileLength" value="" />
  <Header name="txtFileName" value="" />
  <Header name="txtFileLength" value="20480" />
  <Header name="txtFileType" value="rar|doc|xls|jpg|mp3|gif|rm|rmvb|zip|docx|docx|ppt|pptx" />
  <Header name="txtFileSavePath" value="UploadFiles/Mail/${Year}/${Month}/${Day}/" />
  <Header name="dropFileType" value="${Origin}" />
  <Header name="txtFileUrl" value="下载地址" />
</MyNameValueCollection>