<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--项目生成目录-->
    <add key="SitePath" value="D:\Git\Meeting2016\Source\" />
    <!--项目名称-->
    <add key="SiteName" value="气象会议" />
    <!--Web工程名称-->
    <add key="ProjectName" value="Yamon.Metting2017.WebSite" />
    <add key="WinFormProjectName" value="Yamon.Monitor.Client" />
    <!--模块命名空间前辍-->
    <add key="ModuleNameSpace" value="Yamon.Module" />
    <add key="CodeGeneratorList" value="DAL,Entity,EasyUI,WebApi"/>
  </appSettings>
  <connectionStrings>
    <add name="SmartFormManage" connectionString="server=192.168.10.98\R2,14330;uid=sa;pwd=1qaz2wsx;database=Meeting2017_SmartForm" providerName="SqlServer" />
    <add name="UCenter" connectionString="server=192.168.10.98\R2,14330;uid=sa;pwd=1qaz2wsx;database=Meeting2017" providerName="SqlServer" />
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="500" maxRequestLength="2048000 " useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <compilation targetFramework="4.0" debug="true" />
    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages validateRequest="false" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>